body {
  background: #e5f6e0; /* hijau muda lembut */
}

@keyframes fadeInUp {
  from { 
    opacity: 0; 
    transform: translateY(20px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.animate-fadein-up {
  animation: fadeInUp 1s ease forwards;
}

.animation-delay-300 {
  animation-delay: .3s;
}

.animation-delay-600 {
  animation-delay: .6s;
}